/* Estilos para el contenedor principal */
.editores {
    background-image: url("../Images/Principal-Background2.jpg"); /* Fondo de imagen para principal*/
    background-size: cover; /* Fondo de imagen completa */
}

.container {
  display: flex; /* Para que los elementos se muestren en fila */
  gap: 1rem; /* Agrega espacio entre las dos columnas */
  justify-content: center; /* Centrar los elementos */
  align-items: center; /* Centrar los elementos */
  height: 100vh; /* Altura del contenedor principal */
  }
  
  /* Estilos para el contenedor del CodeEditor */
  .code-editor {
    background-color: rgba(255, 255, 255, 0.5); /* Para la transparencia */
    backdrop-filter: blur(3px); /* Para el desenfoque del textarea */
    flex: 1; /* Ocupar todo el espacio restante */
    padding: 1rem; /* Espaciado interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
    position: relative; /* Posición relativa para el número de línea */
  }
  
  /* Estilos para el textarea del CodeEditor */
  .code-textarea {
    background-color: rgba(255, 255, 255, 0.5); /* Para la transparencia */
    backdrop-filter: blur(3px); /* Para el desenfoque del textarea */
    width: 100%; /* Ancho al 100% */
    resize: none; /* Deshabilitar el redimensionamiento */
    border: solid; /* Sin borde */
    padding: 1rem; /* Espaciado interno */
    background-color: transparent; /* Fondo transparente */
  }
  
  /* Estilos para el contenedor de la Console */
  .console {
    background-color: rgba(255, 255, 255, 0.5); /* Para la transparencia */
    backdrop-filter: blur(3px); /* Para el desenfoque del textarea */
    flex: 1; /* Ocupar todo el espacio restante */
    padding: 1rem; /* Espaciado interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
  }
  
  /* Estilos para el textarea de la Console */
  .console-textarea {
    background-color: rgba(255, 255, 255, 0.5); /* Para la transparencia */
    backdrop-filter: blur(3px); /* Para el desenfoque del textarea */
    width: 100%; /* Ancho al 100% */
    resize: none; /* Deshabilitar el redimensionamiento */
    border: solid; /* Sin borde */
    padding: 1rem; /*Espaciado interno */
    background-color: transparent; /* Fondo transparente */
  }

  .btn-ejecutar {
    height: 65px;
  }
  
  .btn-ejecutar:hover {
    background-color: #38a169;
  }
  