/* Estilos para el contenedor principal */
.editores {
  background-image: url("../Images/Principal-Background2.jpg");
  /* Fondo de imagen para principal*/
  background-size: cover;
  /* Fondo de imagen completa */
}

.container {
  display: flex;
  /* Para que los elementos se muestren en fila */
  gap: 1rem;
  /* Agrega espacio entre las dos columnas */
  justify-content: center;
  /* Centrar los elementos */
  align-items: center;
  /* Centrar los elementos */
  height: 100vh;
  /* Altura del contenedor principal */
}

/* Estilos para el contenedor del CodeEditor */
.code-editor {
  background-color: rgba(255, 255, 255, 0.5);
  /* Para la transparencia */
  backdrop-filter: blur(3px);
  /* Para el desenfoque del textarea */
  flex: 1;
  /* Ocupar todo el espacio restante */
  padding: 1rem;
  /* Espaciado interno */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Sombra */
  position: relative;
  /* Posición relativa para el número de línea */
}

/* Estilos para el textarea del CodeEditor */
.code-textarea {
  background-color: rgba(255, 255, 255, 0.5);
  /* Para la transparencia */
  backdrop-filter: blur(3px);
  /* Para el desenfoque del textarea */
  width: 100%;
  /* Ancho al 100% */
  resize: none;
  /* Deshabilitar el redimensionamiento */
  border: solid;
  /* Sin borde */
  padding: 1rem;
  /* Espaciado interno */
  background-color: transparent;
  /* Fondo transparente */
}

/* Estilos para el contenedor de la Console */
.console {
  background-color: rgba(255, 255, 255, 0.5);
  /* Para la transparencia */
  backdrop-filter: blur(3px);
  /* Para el desenfoque del textarea */
  flex: 1;
  /* Ocupar todo el espacio restante */
  padding: 1rem;
  /* Espaciado interno */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Sombra */
}

/* Estilos para el textarea de la Console */
.console-textarea {
  background-color: rgba(255, 255, 255, 0.5);
  /* Para la transparencia */
  backdrop-filter: blur(3px);
  /* Para el desenfoque del textarea */
  width: 100%;
  /* Ancho al 100% */
  resize: none;
  /* Deshabilitar el redimensionamiento */
  border: solid;
  /* Sin borde */
  padding: 1rem;
  /*Espaciado interno */
  background-color: transparent;
  /* Fondo transparente */
}


.custom-btn {
  width: 100%;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

/* 11 */
.btn-11 {
  border: none;
  background: rgb(35, 167, 64);
  background: linear-gradient(0deg, rgb(38, 122, 17) 0%, rgb(75, 175, 29) 100%);
  color: #fff;
  overflow: hidden;
}

.btn-11:hover {
  text-decoration: none;
  color: #fff;
}

.btn-11:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-11:hover {
  opacity: .7;
}

.btn-11:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }

  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }

  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}